@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Figtree', system-ui, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Inter Tight', sans-serif;
}
